.App {
  padding: 20px 50px;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  gap: 20px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(248, 243, 234);
  margin-top: 10px;
  width: 16rem;
  display: flex;
  flex-direction: column;
}

.card-image img {
  width: 100%;
}

.card-body {
  padding: 0 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}
button.learn {
  margin-top: 20px;
  color: white;
  font-weight: 400;
  width: 100%;
  background-color: rgb(38, 8, 66);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper-modals {
  display: flex;
  flex-direction: column;
}

.left-modals {
  max-width: 500px;
}
.left-modals img {
  width: 100%;
}
